{% extends 'base.html' %}
{% block styles %}
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css" />
    {{ super() }}
    <style>
        .foo {
            color: red;
        }
    </style>
{% endblock %}
{% block content %}
    <a href="{{ url_for('index') }}">&larr; Return</a>
    <h2>{{ user.username }}</h2>
    {% if user.bio %}
    <i>{{ user.bio }}</i>
    {% else %}
    <i>This user has not provided a bio. </i>
    {% endif %}

    {# 下面是电影清单 #}
    <h5>{{ user.username }}'s Watchlist {{ movies | length }}:</h5>
    <ul>
        {% for movie in movies %}
        <li>{{ movie.name }} - {{ movie.year }}</li>
        {% endfor %}
    </ul>
    <p class="foo">{{ fooValue }}</p>
    <p>{{ bar() }}</p>

    {# 将过滤器作用于一部分模板数据  #}
    {% filter upper %}
    This text becomes uppercase.
    {% endfilter %}

    <p>{{ user.username | musical }}</p>
    {% include '_banner.html' %}
{% endblock %}